# Segmenting and Clustering Neighborhoods in Toronto

### Load Libraries

In [3]:
import numpy as np # library for handling data in  vectorized manner
import requests
from bs4 import BeautifulSoup

import pandas as pd # library for data analsysis
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library
print('Libraries imported.')

Libraries imported.

### Scrap data from wikipedia page & Create dataframe

In [4]:
wiki_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

soup = BeautifulSoup(wiki_url.content, 'html.parser')

### Read table

In [5]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

###  Clean & create the dataframe

In [6]:
df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postal code             Borough                  Neighborhood
1           M1A        Not assigned
2           M2A        Not assigned
3           M3A          North York                     Parkwoods
4           M4A          North York              Victoria Village
5           M5A    Downtown Toronto    Regent Park / Harbourfront

### Remove "Not assigned" and then Aggregate

In [7]:
df4 = df3[df3.Borough != 'Not assigned']

df5 = df4.groupby(['Postal code', 'Borough'], sort = False).agg(','.join)
df5.reset_index(inplace = True)
df6 = df5.replace("Not assigned", "Queen's Park")
df6.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [8]:
df6.shape

(103, 3)

### Use the Geocoder package or the csv file to create dataframe with longitude and latitude values

## Read csv file of Geospatial_data

In [9]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.columns = ['Postal code', 'Latitude', 'Longitude']
df_geo.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Create a new dataframe by merge first & second dataframe

In [10]:
df_pc = pd.merge(df6, df_geo,on=['Postal code'], how='inner')
df_pc.head()

  Postal code           Borough                                  Neighborhood   Latitude  Longitude
0         M3A        North York                                     Parkwoods  43.753259 -79.329656
1         M4A        North York                              Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto                    Regent Park / Harbourfront  43.654260 -79.360636
3         M6A        North York             Lawrence Manor / Lawrence Heights  43.718518 -79.464763
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government  43.662301 -79.389494